body {
  background-image: url(../img/background3.png);
}

.post {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postStream {
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.postPic{
  height: 200px;
  width: auto;
}

.userInfo {
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userPic {
  height: 100px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid black;
  margin: 10px;
}

.mainFeed {
  display: flex;
  justify-content: center;
}

.suggestedUsers {
  border: 1px solid black;
  width: 5opx;
  margin: 10px;
  padding: 10px;  
  display: flex;
  justify-content: flex-end;
  
}

.Suggestions {
  position: absolute;
  right: 20%;
}